<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N-League</title>
    <link rel="stylesheet" href="../public/resources/css/n_league_score_overlay.css">
</head>

<body>
    <div class="maincontainer">
        <div><img class="reference" src="../public/resources/img/reference.png" alt=""></div>
        <div><img class="reference2" src="../public/resources/img/reference2.png" alt=""></div>
        <div class="uppercontainer">
            <div class="matchinfo">
                <div class="winds">
                    <div>EAST 1</div>
                </div>
                <div class="bonus">
                    <div class="kyotaku">
                        <img src="../public/resources/img/577959-1k.png" alt="Kyotaku">
                        <div>0</div>
                    </div>
                    <div class="honba">
                        <img src="../public/resources/img/577959-100.png" alt="Honba">
                        <div>0</div>
                    </div>
                </div>
                <div class="dora">
                    <img src="../public/resources/img/pai-images/ji6-66-90-l-emb.png" alt="Dora">
                    <div class="doratext">Dora</div>
                </div>
            </div>
            <div class="dateinfo">
                <div class="session">Week 10 - Game 1 | 03.10.23</div>
            </div>
        </div>
        <div class="lowercontainer">
            <div class="playerinfo">
                <div class="card" id="player1">
                    <div class="context">
                        <div class="pic">
                            <img class="playerpic"
                                src="../public/resources/img/team_logo/transparent-Destroyers Logo_edited.webp">
                        </div>
                        <div class="info">
                            <div class="waits">Waits</div>
                            <div class="playername">Player1</div>
                            <div class="points" id="point1">Points 1</div>
                        </div>
                    </div>
                    <div class="oyamarker oya"></div>
                </div>
                <div class="card" id="player2">
                    <div class="context">
                        <div class="pic">
                            <img class="playerpic"
                                src="../public/resources/img/team_logo/emperor_penguins_logo_textless.webp">
                        </div>
                        <div class="info">
                            <div class="waits">Waits</div>
                            <div class="playername">Player2</div>
                            <div class="points" id="point2">Points 2</div>
                        </div>
                    </div>
                    <div class="oyamarker"></div>
                </div>
                <div class="card" id="player3">
                    <div class="context">
                        <div class="pic">
                            <img class="playerpic"
                                src="../public/resources/img/team_logo/transparent-QMT-Logo-2022_edited_edited.webp">
                        </div>
                        <div class="info">
                            <div class="waits">Waits</div>
                            <div class="playername">Player3</div>
                            <div class="points" id="point3">Points 3</div>
                        </div>
                    </div>
                    <div class="oyamarker"></div>
                </div>

                <div class="card" id="player4">
                    <div class="context">
                        <div class="pic">
                            <img class="playerpic"
                                src="../public/resources/img/team_logo/transparent-Brooklyn Sours.webp">
                        </div>
                        <div class="info">
                            <div class="waits">Waits</div>
                            <div class="playername">Player4</div>
                            <div class="points" id="point4">Points 4</div>
                        </div>
                    </div>
                    <div class="oyamarker"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>