<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riichi Animation</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="../../public/resources/css/riichi.css">
</head>

<body>
    <div class="riichiAnimation">
        <div class="scene">
            <div class="carousel">
                <div class="carousel__cell"><img src="../public/resources/img/team_logo/destroyers.webp" alt=""></div>
                <div class="carousel__cell"><img src="../public/resources/img/team_logo/brooklynSours.webp" alt="">
                </div>
                <div class="carousel__cell"><img src="../public/resources/img/team_logo/emperorPenguins.webp" alt="">
                </div>
                <div class="carousel__cell"><img src="../public/resources/img/team_logo/opieDopes.webp" alt=""></div>
                <div class="carousel__cell"><img src="../public/resources/img/team_logo/queensMahjongTriad.webp" alt="">
                </div>
                <div class="carousel__cell"><img src="../public/resources/img/team_logo/rinshankaibros.webp" alt="">
                </div>
                <div class="carousel__cell"><img src="../public/resources/img/team_logo/spaceFalcon.webp" alt=""></div>
                <div class="carousel__cell"><img src="../public/resources/img/team_logo/teamYakumen.webp" alt=""></div>
            </div>
        </div>
        <div class="lightningHidden">
            <img src="../public/resources/img/lightning_transparent.gif" alt="">
        </div>
        <div class="riichiTitle">RIICHI</div>
    </div>
    <button id="riichi">Riichi</button>
</body>
<script src="../public/resources/js/riichi.js"></script>

</html>