body {
    margin: 0;
}

h1,
h2 {
    margin: 0.3rem 0 1rem 0;
}

h2 {
    display: inline;
    color: blue;
}

.current {
    display: inline;
    color: blue;
}

.title {
    display: flex;
    white-space: nowrap;
    align-items: baseline;
}

.playerinfo {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    justify-content: space-evenly;
    margin: 0.1rem 0 0 0.1rem;
}

.playerinfo li {
    list-style-type: none;
    white-space: nowrap;
    margin: 0.1rem 0 0 0;
}

.matchinfoDisplay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 7rem;
    margin: 0;
}

.matchinfoDisplay li {
    list-style-type: none;
}

.id {
    display: flex;
    padding: 0 0 0 2rem;
}

.button {
    font-family: arial;
    color: black;
    text-decoration: none;
    background-color: #F0F0F0F0;
    border: 1px solid #747474;
    padding: 2px 6px;
    border-radius: 2px;
    font-size: 14px;
}

.buttonContainer {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
    align-items: baseline;
}

.checkbox {
    display: flex;
    justify-content: space-between;
}

.pointBox {
    width: 7rem;
}

.tenKi {
    background-color: #00c900
}

.oneKi {
    background-color: #00d400;
}

.onei {
    background-color: #00ff00;
}

.tenKd {
    background-color: #df0000
}

.oneKd {
    background-color: #f30000;
}

.oned {
    background-color: #ff0000;
}

.scoreButton {
    display: flex;
    gap: 0.1rem;
    padding: 0.3rem 0 0.3rem 0;
}


.bottomButtonContainer {
    display: flex;
    padding: 1rem 0 0 3rem;
    gap: 1rem;
    align-items: baseline;
}

.upperContainer {
    display: flex;
    align-items: center;
}

.lowerContainer {
    align-items: center;
    /* min-width: 1100px; */
}

.lowerTitle {
    display: flex;
    align-items: baseline;
}

.lowerTitle h1 {
    margin: 0 0 0 1.67em;
    font-size: 1.5rem;
}

.lowerTitle h3 {
    margin: 0 0 0 40px;
}


.doraNotation {
    display: flex;
    border: 1px solid black;
    padding-inline-start: 0;
    padding: 10px;
    margin: 0 0 0 20px;
    white-space: nowrap;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content ul {
    padding: 0 0 10px 20px;
}

.doraNotation ul li {
    list-style-type: none;
}

.toolContainer {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 0 0;
}

.toolPointContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    gap: 1rem;
    margin: 1rem 0 0 0;
}

.toolPointContainer button {
    height: 100%;
}

.updateApplyContainer {
    display: flex;
    gap: 0.2rem;
}

.updateRiichiContainer {
    display: flex;
    gap: 0.2rem;
}

.hideButtonContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
    gap: 1rem;
}

.errorMessage {
    color: red;
}

.pointsEarned {
    display: inline;
    color: green;
    margin: 0 0 0 0.5rem;
    font-weight: bold;
}

.pointsLost {
    display: inline;
    color: red;
    margin: 0 0 0 0.5rem;
    font-weight: bold;
}


#databaseButton {
    margin: 0 0 0 10rem;
}

#delete {
    margin: 30px 0;
}

#timestamp {
    border: 0;
}

#shortcut {
    margin: 1rem 0 0 0;
}

#calc {
    width: 5rem;
}

@media (max-width: 920px) {
    body {
        font-size: 1rem;
    }

    .matchinfo {
        padding: 0;
    }

    .doraNotation {
        padding: 0;
    }

    .playerinfo {
        flex-wrap: wrap;
    }

    .playerinfo li {
        white-space: normal;
    }

    .scoreButton {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0.3rem 0 0 0;
    }
}